@use './vars' as *;

@mixin link($color: $blue, $hoverColor: $red) {
  color: $color;
  transition: color 200ms ease;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}

@mixin baseInput {
  display: block;
  padding: 7px;
  border: 1px solid $black;
  border-radius: $borderRadiusSmall;
  background-color: $white;
  outline: none;
  width: 100%;

  &:focus {
    border-color: $blue;
  }

  &.invalid {
    border-color: $red;
  }
}
