@use './vars' as var;

@mixin link($color: var.$blue, $hoverColor: var.$red) {
  color: $color;
  transition: color 200ms ease;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}
