@use './vars' as var;

@mixin link($color: var.$blue, $hoverColor: var.$red) {
  color: $color;
  transition: color 200ms ease;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}

@mixin baseInput {
  display: block;
  padding: 7px;
  border: 1px solid var.$black;
  border-radius: 3px;
  background-color: var.$white;
  outline: none;
  width: 100%;

  &:focus {
    border-color: var.$blue;
  }

  &.invalid {
    border-color: var.$red;
  }
}
