@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.segment {
  .headingWrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;

    svg {
      cursor: pointer;
    }

    h1.title {
      @include h1;
    }
  }

  .goToEditPageButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 100%;

    display: flex;
    align-items: flex-end;
  }

  h2.title {
    @include h2;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }
}
